.my-modal-loading {
    background: #d7d7d7b0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}


.apply-now-text {
    border: 1px solid #ff67124a;
    padding: 1px 3px;
    border-radius: 4px;
    background: antiquewhite;
    cursor: pointer;
}

.link-quickview-company {

}
.item-quickview-company span {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tagcloud input {
    border: navajowhite;
    display: inline-block;
    /* width: fit-content; */
    background: #f0f6fe;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 7px;
}

.tagcloud a {
    font-weight: 700;
    display: inline-flex;
}
