.my-modal-loading {
    background: #d7d7d7b0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}


.apply-now-text {
    border: 1px solid #ff67124a;
    padding: 1px 3px;
    border-radius: 4px;
    background: antiquewhite;
    cursor: pointer;
}

.link-quickview-company {}

.item-quickview-company span {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tagcloud input {
    border: navajowhite;
    display: inline-block;
    /* width: fit-content; */
    background: #f0f6fe;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 7px;
}

.tagcloud a {
    font-weight: 700;
    display: inline-flex;
}


/*Chat Popup*/

.chat-pop-up {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1195544/element_wave.svg) center 35% no-repeat, linear-gradient(#FBCE3B 36%, #FFFFFF 36%);
    background-size: contain;
    border-radius: 6px;
    bottom: 145px;
    box-shadow: 0 3px 6px 0 rgba(75, 74, 75, 0.2);
    opacity: 0;
    right: 55px;
    /*padding: 34px;*/
    position: fixed;
    transform: translatey(20px);
    transition: opacity 0.25s ease, transform 0.25s ease-out;
    width: 332px;
    z-index: 100;
}

.chat-pop-up--heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.chat-pop-up--heading h3 {
    color: #274666;
    font-family: "Galano Grotesque Alt", "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    margin: 10px 0 0;
}

.chat-pop-up--heading h3 span {
    display: block;
}

.chat-pop-up--heading figure {
    margin: 0;
}

.chat-pop-up h4 {
    color: #4A4A4A;
    font-family: "Galano Grotesque Alt", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 20px 0;
}

.chat-pop-up a {
    background: #FF6B17;
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Galano Grotesque Alt", "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    max-width: 225px;
    padding: 12px;
    text-decoration: none;
    transition: background 0.2s ease;
}

/*.chat-pop-up a:hover,*/
/*a:active {*/
/*    background: #FF8D4E;*/
/*}*/

.chat-pop-up a span {
    margin-right: 8px;
}

.toggle-chat {
    background: #0dcaf0;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 3px 6px 0 rgba(75, 74, 75, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 60px;
    bottom: 60px;
    right: 55px;
    padding: 10px;
    transition: width 0.3s ease-in-out, background 0.2s ease;
    outline: none;
    width: 180px;
    z-index: 100;
}

.toggle-chat:hover,
.toggle-chat:active {
    background: #0dcaf0;
}

.toggle-chat.chat-is-open {
    flex-direction: column;
    width: 60px;
}

.open-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #274666;
    font-family: "Galano Grotesque Alt", "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    opacity: 1;
    transition: opacity 0.2s 0.2s ease-out;
    margin-top: 5px;
    width: 144px;
}

.toggle-chat.chat-is-open .open-chat {
    transition: none;
    opacity: 0;
}

.toggle-chat .close-chat {
    margin-top: 2px;
    opacity: 0;
    transform: rotate(-40deg);
}

.toggle-chat.chat-is-open .close-chat {
    margin-top: 58px;
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity 0.2s ease-out, transform 0.4s ease-out;
}

.chat-display-on {
    display: block !important;
    height: 415px;
    overflow-y: auto;
    overflow-x: hidden;

}

.chat-visible {
    opacity: 1;
    transform: translatey(0);
}


/*Chat Bubble*/
.chat {
    width: 400px;
}

.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.bot {
    float: left;
    margin: 5px 45px 5px 20px;
}

.bot::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.you {
    margin: 4px 0 9px 50px;
    min-width: 113px;
    max-width: 251px;
    font-size: 12px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px;
}

.you-wrap {}

.chat-header {
    background: #424242;
    color: white;
    padding: 8px 9px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.step-2 input {
    position: fixed;
    bottom: 0;
}


/**/
#chat1 .form-outline .form-control~.form-notch div {
    pointer-events: none;
    border: 1px solid;
    border-color: #eee;
    box-sizing: border-box;
    background: transparent;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
    left: 0;
    top: 0;
    height: 100%;
    border-right: none;
    border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
    flex: 0 0 auto;
    max-width: calc(100% - 1rem);
    height: 100%;
    border-right: none;
    border-left: none;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
    flex-grow: 1;
    height: 100%;
    border-left: none;
    border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
    border-right: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
    border-top: none;
    border-right: none;
    border-left: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: 0.125rem solid #39c0ed;
    border-bottom: 0.125rem solid #39c0ed;
    border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
    border-left: none;
    transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-label {
    color: #39c0ed;
}

#chat1 .form-outline .form-control~.form-label {
    color: #bfbfbf;
}

.chat-start {
    font-size: 13px;
}

.removable-element {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.removable-element input {
    padding-right: 20px;
    /* Để chừa chỗ cho nút X */
}

.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
    display: none;
    /* Ẩn nút X ban đầu */
}

.removable-element:hover .remove-btn {
    display: inline;
    /* Hiển thị nút X khi rê chuột vào */
}

.main-cv {
    position: absolute;
    z-index: 1;
    background: crimson;
    color: yellow;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 13px;
    right: 0px;
}